@import "./base";
@import "./fonts";
@import "./colors";
@import "./container";
@import "./sliderPrice";

body {
  font-family: "Cera Pro";
  background-color: var(--g-white);
}

.btn {
  border-radius: 6px;
  background-color: var(--g-green);
  color: var(--g-white);
  font-size: 16px;
  font-weight: 500;
}

.category {
  &-title {
    color: var(--g-gray);
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  &__list {
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // gap: 116px;
      color: var(--g-gray);
      font-size: 15px;
      font-weight: 400;
      a {
        color: var(--g-gray);
        font-size: 15px;
        font-weight: 400;
        line-height: 40px;
      }
      &.active {
        color: var(--g-green);
        font-weight: 700;
        a {
          color: var(--g-green);
          font-weight: 700;
        }
      }
    }
  }
}
// @media only screen and (max-width: 1024px) {

// }

@import "./parts/nav";
@import "./parts/header";
@import "./parts/main";
@import "./parts/footer";
@import "./parts/shop";
